.home1{
  display: flex;
  align-items: center;
    padding:50px 50px;
    margin-top: 50px;
}
.home1 img{
    height:300px;
    width:450px;
    margin-right: 40px;
    border-radius: 4px;
}
.home1 p{
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
}
.home1 span{
    color:rgb(161,23,97) ;
    font-weight: 600;
}
.home2{
    padding:20px 100px;
    width:100%;
}
.home2 h1{
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: rgb(161,23,97);
}
.home2 p{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
.home2 img{
    width:800px;
    
}
.image_div{
    display: flex;
    align-items: center;
    justify-content: center;
}